<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h5>About Us</h5>
                <p>Driven by a passion for pushing boundaries, we're not just a 3D printing shop; we're the creators of
                    your aspirations. Join us on this extraordinary journey of design, extrusion, and zenith quality.
                    Together, we shape tomorrow's world, one layer at a time.</p>
            </div>
            <div class="col-md-3">
                <h5>Contact</h5>
                <p>Email: 3DEEZ.shop&#64;gmail.com <br>Phone: +216 20-300-400</p>
            </div>
            <div class="col-md-2">
                <h5>Follow Us</h5>
                <div class="social-icons">
                    <a href="https://www.facebook.com/3DEEZ.shop"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/3deez.shop/"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/CodeWizard-404/3DEEZ"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&#169; 2023 3DEEZ. All rights reserved. | Designed with <i class="fas fa-paint-brush fa-1x "></i> by
                    3DEEZ</p>
            </div>
        </div>
    </div>
</footer>