
<section>
  <h3><span class="badge badge-dark">Purchased Products</span></h3>


  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span for="userIdInput" class="input-group-text" id="basic-addon1">ID:</span>
    </div>
    <input type="number" class="form-control" placeholder="Enter User ID" id="userIdInput" [(ngModel)]="userId">
    <button class="btn btn-secondary" (click)="loadPurchasedProducts()">Load Products</button>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product</th>
        <th>Client</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let purchase of purchasedProducts">
        <td>{{ purchase.productId }}</td>
        <td>{{ purchase.product.title }}</td>
        <td>{{ purchase.client.name }} - {{ purchase.client.lastName}}</td>
        <td>{{ purchase.quantity }}</td>
        <td>{{purchase.totalPrice|pricing}}</td>
      </tr>
    </tbody>
  </table>
</section>
