<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Our Products</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card">
          <img [src]="product.photo" class="card-img-top" alt="{{ product.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>Price:</strong> {{ product.price }}</p>
            <button class="btn btn-primary" (click)="viewProductDetails(product.id)">Check It</button>
            <span *ngIf="product.isNew" class="badge badge-warning new">New</span>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  