<section>
    <h3>Client Management</h3>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.email }}</td>
          <td>
            <button class="btn btn-sm btn-info" (click)="viewClientDetails(client)">View Details</button>
            <button class="btn btn-sm btn-danger" (click)="deleteClient(client)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>